/* ШРИФТЫ */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* ОСНОВНЫЕ НАСТРОЙКИ */

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1; /* Прижимает подвал к низу экрана */
}

.page-header-logo {
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0;
    margin-bottom: -25px;
}

.advantages-header-title, .find-hotel-title, .subscribe-title, .inner-footer-title, .advantages-title {
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-header-title, .find-hotel-title, .subscribe-title, .inner-footer-title {
    font-size: 30px;
    line-height: 36px; 
}

.advantages-title {
    font-size: 24px;
    line-height: 28px; 
}

.navigation-list, .advantages-list, .footer-social-list, .catalog-list, .breadcrumbs {
    list-style: none;      
    margin: 0;
    padding: 0;
}

  /* ХЕДЕР */
.page-header {
    color: #000000;
  }

  /* ФУТЕР */

.footer-address-phone {
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.page-footer-container {    
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: space-between;
    /*outline: 5px solid red;
    outline-offset: -5px;*/
}

  /* НАВИГАЦИЯ */
.navigation {    
    display: flex;
    width: 1200px;
    margin: 0 auto;
    /*outline: 5px solid red;
    outline-offset: -5px;*/
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 531px;
    list-style-type: none;
    padding-left: 71px;

    /* outline: 5px solid rgb(68, 230, 46);
    outline-offset: -5px; */
}

.navigation-user {
    width: 365px;
    margin-left: auto;
}

  /* Ссылки навигации */
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000; /* не синие */
    text-decoration: none; /* без подчёркивания */
    display: block;
    padding-top: 19px;
    padding-bottom: 20px;
    margin-right: 22px;
    text-align: center;
    outline: 1px solid red;
    outline-offset: -1px;
}

/* КНОПКИ */

.button, button {
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.blue-button {
    background-color: #83B3D3;
  }

.green-button {
    background-color: #7DB54F;
  }

.reset-button {
    font-family: inherit;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: none;
    background-color: transparent;
  }

.find-hotel-link {
    font-size: 20px;
    line-height: 36px;
}

.subscribe-button, .catalog-pagination-more, .catalog-pagination-link {
    font-size: 20px;
    line-height: 26px;
}

.catalog-pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

/* ПРИВЕТСТВИЕ */

/* Фон приветствия */
.welcome {
    color: #FFFFFF;
    background-color: #68A2CA;
    background-image: url("../img/index/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;    
    height: 485px;
    text-align: center; /* центрирует содержимое */
}

/* Нижняя декоративная рамка фона */
.welcome-divider {
    background-position: bottom;
    background-image: url("../img/index/svg/divider.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;    
    width: inherit;
    height: inherit;
}

/* Приветственная надпись */
.welcome-image {
    padding-top: 51px; /* отступ сверху */
}

/* ПРЕИМУЩЕСТВА */

.advantages {
    padding-top: 63px;    
    }

.advantages-header-title, .advantages-header-subtitle {
    padding: 0 240  px;
}

.advantages-container, .advantages-list, .features-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;    
    justify-content: space-between;
}

/* Обычный блок */
.advantages-block {
    font-size: 18px;
    line-height: 21px;
    width: 400px;    
    height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-title {
    margin-top: 98px;
}

.advantages-description {
    width: 250px;
    height: 73px;
    margin-top: 26px;
    margin-left: 75px;  
}

.advantages-number {
    width: 250px;
    height: 25px;
    margin-top: 25px;
}

/* Голубой блок */
.block-lightblue {
    background-color: rgba(131, 179, 211, 0.2);
}

/* Синий блок */
.block-blue {
    background-color: #83B3D3;
    color: #ffffff;
}

.block-blue .advantages-title {
    color: #ffffff;
}

.block-blue .advantages-description {
    width: 220px;
    margin-left: 90px;
}

/* Блоки-особенности */
.features-item .advantages-block {
    background-repeat: no-repeat;
    background-position: 163px 89px;
}

.features-housing {
    background-image: url("../img/index/svg/housing.svg");
}

.features-food {
    background-image: url("../img/index/svg/food.svg");
}

.features-souvenir {
    background-image: url("../img/index/svg/souvenir.svg");
}

.features-title {
    margin-top: 184px;
}

.features-description {
    margin-top: 20px;
}

.find-hotel {
    padding: 91px 0;
}

/* Подписка */
.subscribe {
    background-color: #68A2CA;
    background-image: url("../img/index/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 94px 0;
}

.subscribe-title {
    color: inherit;
}

/* КАТАЛОГ */

/* ФИЛЬТРЫ */

/* Заголовок */
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding:0;
}

/* Фон фильтров */
.inner-background-container {
    color: #FFFFFF;
    background-color: #68A2CA;
    background-image: url("../img/catalog/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: left;
}

/* Хлебные крошки */
.breadcrumbs {
display: flex;
}

.breadcrumbs-link {    
    font-weight: 400;
    font-size: 16px;    
    line-height: 21px;
    color: inherit;
    text-transform: none;
    text-decoration: none;
    padding-right: 26px;
}

/* Границы полей фильтров */
fieldset {
    border: none;
}

/* Заголовок */
.catalog {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.catalog-search-result {
    color: #000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.catalog-filter {
    font-size: 18px;    
    line-height: 23px;
}

.catalog-filter-title {    
    font-weight: 700;
    font-size: 20px;    
    line-height: 26px;
}

.catalog-sorting {
    width: 1200px;
}

/* ГОСТИНИЦЫ */

.catalog-cards, .catalog-sorting-container {    
    margin-left: 72px;
    margin-right: 72px;
}

.hotel-card-title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0px;
    padding: 0px;
}

.hotel-description, .catalog-display-text, .hotel-price {
    font-size: 18px;
    line-height: 23px;    
    font-weight: 400;
}

.hotel-rating {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-card-image-mini {
    margin: 0;
    margin-top: 3px;
    vertical-align: bottom;
}

/* Список гостиниц: ГРИДЫ */
.hotel-card {
    display: grid;
    grid-template-columns: 209px 151px 160px 353px min-content;
    grid-template-rows: 31px min-content min-content 37px;
    gap: 0px 8px;
    padding-top: 27px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    outline: 1px solid red;
    outline-offset: -1px;
}

.hotel-card-image {
    grid-column: 1;
    grid-row: 1 / -1;
}

.hotel-card-link {    
    grid-column: 2 / -1;
    grid-row: 1;
    text-decoration: none; /* без подчёркивания */
}

.hotel-stars {
    grid-column: 5;
    grid-row: 1;
}

.hotel-description {
    grid-column: 2;
    grid-row: 2;
}

.hotel-price {
    grid-column: 3;
    grid-row: 2;
}

.hotel-rating {
    grid-column: 5;
    grid-row: 4;
}

.button-more {
    grid-column: 2;
    grid-row: 4;
}

.button-favorite {
    grid-column: 3;
    grid-row: 4;
}

/* Фильтры: ГРИДЫ */

.inner-background-container {
    padding-top: 35px;
    padding-left: 71px;
    height: 408px;
}

/* Списки фильтров*/
.catalog-filter-title {
    margin-bottom: 30px;
}
.catalog-filter-item {
    margin-bottom: 13px; 
}

.catalog-filter-form {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 217px 312px 368px 160px;
    grid-template-rows: 60px 48px 48px;
}

.apply-button {
    grid-column: 4;
    grid-row: 2;
}

.reset-button {    
    grid-column: 4;
    grid-row: 3;
}

/* Сортировка: ГРИДЫ */
.catalog-sorting-container {
    padding-top: 50px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e6e6e6;
    display: grid;
    grid-template-columns: 521px 360px 48px 48px 48px;
    grid-template-rows: auto;
    gap: 0px 8px;}

/* Пагинация */
.catalog-pagination {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.catalog-pagination-list {
    display: flex;
}

.more-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 31px;
    padding-bottom: 30px;
}
